:root {
    --default-color: #363636;
    --alternate-color: #f1f1f1;
}

::-moz-selection  {
    background: #2d96cd;
}

::selection {
    background-color: #2d96cd;
}


/******************** Mobile ********************/
@media screen and (max-width: 600px) {
    body {
        font-size: 1rem !important;
    }

    footer {
        font-size: .75rem !important;
    }

    .map-popup-text {
        font-size: .75rem !important;
    }
}

@media screen and (max-width: 750px) {
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


/******************** Layout *********************/
body {
    height: 100vh;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    display: flex;
    justify-content: center;
    font-family: 'IBM Plex Mono', 'Courier New', sans-serif;
    font-size: 1.25rem;
}

.grid {
    display: grid;
    grid-template-rows: 5% auto 5%;
    grid-template-areas: 
      "nav"
      "content"
      "_"
      "_"
      "footer"
    ;
    width: 75%;
}

nav {
    grid-area: nav;
    position: sticky;
    top: 25px;
    display: flex;
    justify-content: space-around;
    transform: skew(45deg);
    height: 25px;
}

.content-wrapper {
    grid-area: content;
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

footer {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    font-size: 1rem;
    margin-bottom: 1rem;
}


/******************** Utilities ********************/
.theme-light {
    color: var(--default-color);
    background-color: var(--alternate-color);
}

.theme-dark {
    color: var(--alternate-color);
    background-color: var(--default-color);
}

.border-light {
    border: 3px solid var(--alternate-color);
}

.border-dark {
    border: 3px solid var(--default-color);
}

.border-light-thin {    
    border: 1px solid var(--alternate-color);
    padding: 3px 0 3px 0;
}

.border-dark-thin {
    border: 1px solid var(--default-color);
    padding: 3px 0 3px 0;
}

.background-light {
    background: var(--alternate-color);
}

.background-dark {
    background: var(--default-color);
}

.text-center {
    text-align: center;
}


/******************** More specific ********************/
#map {
    width: 70vw;
    height: 60vh;
}

a {
    color: inherit;
}   

.nav__link {
    transform: skew(-45deg);
}

a:hover, .nav__link:focus {
    color: #2d96cd;
}

.post__link:hover {
    text-decoration: none;
}

.nav__link:hover {
    cursor: pointer;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 4rem;
    width: 100%;
}

.social__link {
    padding: 0 1.5rem;
}

.map-popup-text {
    font-family: 'IBM Plex Mono', 'Courier New', sans-serif;
}