:root {
    --default-color: #363636; /* #262626 */
    --alternate-color: #f1f1f1;
}

::-moz-selection  {
    background: #2d96cd;
}

::selection {
    background-color: #2d96cd;
}

/******************** Mobile ********************/
@media screen and (max-width: 500px) {

    .content {
        font-size: .85rem;
    }

    footer {
        font-size: .25rem !important;
        margin-top: 4rem;
        padding-bottom: 2rem;
    }
}


/******************** Layout *********************/
body {
    height: 100vh;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    display: flex;
    justify-content: center;
    font-family: 'Cutive Mono', sans-serif;
    font-size: 1.2rem;
}

.grid {
    display: grid;
    grid-template-rows: 5% auto 5%;
    grid-template-areas: 
      "nav"
      "content"
      "footer"
    ;
    width: 75%;
}

nav {
    grid-area: nav;
    position: sticky;
    top: 15;
    display: flex;
    justify-content: space-around;
    transform: skew(45deg);
    height: 25px;
}

.content-wrapper {
    grid-area: content;
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    font-size: .75rem;
    margin-top: 3rem;
    padding-bottom: 2rem;
}


/******************** Utilities ********************/
.theme-light {
    color: var(--default-color);
    background-color: var(--alternate-color);
}

.theme-dark {
    color: var(--alternate-color);
    background-color: var(--default-color);
}

.border-light {
    border: 3px solid var(--alternate-color);
}

.border-dark {
    border: 3px solid var(--default-color);
}

.border-light-thin {    
    border: 1px solid var(--alternate-color);
    padding-top: 3px;
    padding-bottom: 3px;
}

.border-dark-thin {
    border: 1px solid var(--default-color);
    padding-top: 3px;
    padding-bottom: 3px;
}

.background-light {
    background: var(--alternate-color);
}

.background-dark {
    background: var(--default-color);
}

.text-center {
    text-align: center;
}


/******************** More specific ********************/
#map {
    width: 70vw;
    height: 60vh;
}

.pro-pic {
    width: 100px;
    height: 100px;
}


a {
    color: inherit;
}   

.nav__link {
    transform: skew(-45deg);
}

a:hover, .nav__link:focus {
    color: #2d96cd;
}

.post__link:hover {
    text-decoration: none;
}

.nav__link:hover {
    cursor: pointer;
}

.title {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    width: 100%;
}

.social__link {
    padding: 0 20px;
}
